Repository amosproj/amos2023ss04-kubernetes-inventory-taker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd Explorer && npm run precommit-lint "$@"'

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'echo "$@"; RESULT=0;cd Proxy && for i in "$@"; do echo "$i" | cut -d'/' -f2- | xargs golangci-lint run --fix; ((RESULT|=$?)); done && exit $RESULT'

fix(Explorer): fixes container sorting test cases url
  Explorer/cypress/e2e/listsort_test.cy.js
Due: eslint

feat: implements pod.status
  DB/kubernetes-schema.sql
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

feat(details): join with container_status
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/Container.ts
Due: eslint

chore(testdata): provide test data for the current DB schema
  DB/testdata_init.sql
Due: none

fix: merge pod_statuses table into pods table and fix naming in kubernetes-schema.sql
  DB/kubernetes-schema.sql
  DB/testdata_init.sql
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

fix: testdata_init.sql error caused by pre-commit
  .pre-commit-config.yaml
  DB/testdata_init.sql
Due: none

feat: pod type
  Explorer/src/lib/types/Pod.ts
Due: eslint

feat: pod db query
  Explorer/src/lib/db.ts
Due: eslint

feat: pods test
  Explorer/src/app/pods/page.test.js
Due: eslint

feat: pods page
  Explorer/src/app/pods/page.tsx
Due: eslint

feat: pods table component
  Explorer/src/components/podsTable.tsx
Due: eslint

refactor: reduce code duplication in cluster config
  Proxy/internal/cluster/config.go
Due: golangci-lint

feat: added persistent volume claim processing
  Proxy/internal/cluster/config.go
  Proxy/internal/cluster/pv_process.go
  Proxy/internal/cluster/pvc_process.go
  Proxy/internal/cluster/util.go
Due: golangci-lint

chore: added local proxy binary to gitignore
  .gitignore
Due: none

refactor: move config to config package
  Proxy/cmd/proxy/main.go
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/config.go
  Proxy/internal/config/config.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

feat: added persistent volume claim condition to pvc process
  Proxy/internal/cluster/pvc_process.go
Due: golangci-lint

feat: added databse tables for persistent volumes and claims
  DB/kubernetes-schema.sql
Due: none

chore: add code documentation and comments
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/pv_process.go
  Proxy/internal/cluster/pvc_process.go
  Proxy/internal/cluster/util.go
  Proxy/internal/config/config.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

feat(Proxy): added PV and PVC bun structs
  Proxy/internal/database/model/model.go
Due: golangci-lint

feat: added persistent volume processing
  Proxy/internal/cluster/config.go
  Proxy/internal/cluster/pv_process.go
Due: golangci-lint

feat: dynamic page
  Explorer/src/app/pods/page.tsx
Due: eslint

PO regular deliverables sprint 11
  Deliverables/sprint-11/feature-board.jpg
  Deliverables/sprint-11/imp-squared-backlog.jpg
  Deliverables/sprint-11/planning-documents.pdf
Due: none

feat: add link to parent pod on the container detail page
  Explorer/cypress/e2e/container_detail_pod_redirect.cy.js
  Explorer/cypress/e2e/containerlist_test.cy.js
  Explorer/cypress/e2e/listsort_test.cy.js
  Explorer/package-lock.json
  Explorer/src/components/container_detail_page.tsx
Due: eslint

feat: added pod volumes to be tracked
  DB/kubernetes-schema.sql
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

Ignore cypress videos and screenshots directories
  .gitignore
Due: none

feat: added pod property
  Explorer/src/lib/types/Pod.ts
Due: eslint

feat: status in container table
  Explorer/src/components/podsTable.tsx
Due: eslint

fix: explorer build errors
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/components/sidebar.tsx
Due: eslint

fix: segfault
  Proxy/internal/cluster/pod_process.go
Due: golangci-lint

fix: bun struct tag (wrong sql column name)
  Proxy/internal/database/model/model.go
Due: golangci-lint

chore: update dependencies
  Explorer/package-lock.json
  Explorer/package.json
Due: none

fix: update getPodsList to return the most recent version of each pod
  Explorer/src/lib/db.ts
Due: eslint

feat(Explorer): display pod metadata on pod detail page
  Explorer/cypress/e2e/poddetails_test.cy.js
  Explorer/src/app/pods/[id]/page.tsx
  Explorer/src/components/pod_detail_page.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/Pod.ts
  docker-compose.yaml
Due: eslint

WIP
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/Container.ts
Due: eslint

refactor(routes): redirect from index to container instead of duplicating
  Explorer/src/app/containers/page.test.js
  Explorer/src/app/page.tsx
  Explorer/src/app/route.tsx
Due: eslint

fix(Proxy): use correct column name
  Proxy/internal/database/model/model.go
Due: golangci-lint

refactor(DB): align kubernetes-schema.sql and model.go
  DB/kubernetes-schema.sql
Due: none

feat(layout): implement periodic refresh
  Explorer/src/app/containers/[id]/page.tsx
  Explorer/src/app/layout.tsx
  Explorer/src/components/period_refresh.tsx
Due: eslint

Path conditions:
  eslint: any of: Explorer/.*\.(js|jsx|ts|tsx)$
  golangci-lint: any of: \.go$
