Repository amosproj/amos2023ss04-kubernetes-inventory-taker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-build-mod
      - id: go-test-mod
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: 'Explorer/.*\.(js|jsx|ts|tsx)$'
        entry: bash -c 'cd Explorer && npm run precommit-lint "$@"'
        types: [file]
      - id: golangci-lint
        name: golangci-lint
        language: system
        types: [file, go]
        # This checks all files instead of only the ones that were changed.
        # If this check is taking too long we can refine this
        entry: bash -c 'echo "$@"; RESULT=0;cd Proxy && for i in "$@"; do echo "$i" | cut -d'/' -f2- | xargs golangci-lint run --fix; ((RESULT|=$?)); done && exit $RESULT'

fix(CI): adjust skip ID in CI pipeline
  .github/workflows/ci.yaml
Due: none

Basic Template for Cypress Tests
  Explorer/cypress/e2e/template.cy.js
  Explorer/src/components/containerTable.tsx
Due: eslint

fix: config.yaml not mounted with docker-compose
  Proxy/cmd/proxy/main.go
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/config.go
  Proxy/internal/cluster/node_process.go
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/cluster/service_process.go
  Proxy/internal/database/model/model.go
  Proxy/internal/database/setup/setup.go
  docker-compose.yaml
Due: golangci-lint

fix(pre-commit): always check entire module
  .pre-commit-config.yaml
Due: none

fix: add missing return statement
  Proxy/internal/database/setup/setup.go
Due: golangci-lint

fix: added proper command line flag parsing
  Proxy/cmd/proxy/main.go
  Proxy/internal/cluster/config.go
Due: golangci-lint

feat: added DB_URI environment variable parsing
  Proxy/internal/database/setup/setup.go
Due: golangci-lint

feat display all containers as list
  Explorer/src/app/page.tsx
  Explorer/src/components/containerTable.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/ContainerList.ts
Due: eslint

feat display all containers as list resolve checks
  Explorer/src/components/containerTable.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/ContainerList.ts
Due: eslint

fix(Explorer): fixed pre-commit warnings
  Explorer/src/app/page.tsx
  Explorer/src/components/containerTable.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/ContainerList.ts
  Proxy/.golangci.yaml
Due: eslint

feat: pre commit fixes
  Explorer/cypress.config.ts
  Explorer/cypress/e2e/containerlist_test.cy.js
  Explorer/cypress/e2e/cypress_test.cy.js
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/app/page.tsx
  Explorer/src/components/containerTable.tsx
  Explorer/src/components/containerTestData.ts
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/ContainerList.ts
  package-lock.json
Due: eslint

fix(next.js): force pages to be dynamic
  Explorer/src/app/container/[id]/page.tsx
  Explorer/src/app/page.tsx
Due: eslint

feat(fix): fixed pre-commit errors
  Explorer/cypress.config.ts
Due: eslint

feat(Sidebar): created sidebar nav
  .golangci.yaml
  docker-compose.dbtestdata.yaml
Due: none

fix(cleanup): remove empty package-lock.json
  package-lock.json
Due: none

feat: add jest testing library
  Explorer/package-lock.json
  Explorer/package.json
Due: none

feat: create jest config
  Explorer/jest.config.mjs
Due: none

feat: dummy test
  Explorer/__tests__/sum.test.js
Due: eslint

feat: test for container page
  Explorer/src/app/page.test.js
Due: eslint

feat: pre commit fix
  Explorer/__tests__/sum.test.js
  Explorer/src/app/page.test.js
Due: eslint

feat(Explorer): added sidebar navigation
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/app/dashboard/page.tsx
  Explorer/src/app/examples/container_detail_example/page.tsx
  Explorer/src/app/examples/health_indicators_example/page.tsx
  Explorer/src/app/layout.tsx
  Explorer/src/app/nodes/page.tsx
  Explorer/src/components/header.tsx
  Explorer/src/components/sidebar.tsx
  Explorer/src/components/style_elements.tsx
  Explorer/src/context/sidebar_context.tsx
  Explorer/tailwind.config.js
Due: eslint

fix(Explorer): fixed some minor bugs
  Explorer/.eslintrc.json
  Explorer/src/app/examples/container_detail_example/page.tsx
  Explorer/src/context/sidebar_context.tsx
Due: eslint

feat(Explorer): performed further changes to sidebar
  Explorer/src/app/cluster/page.tsx
  Explorer/src/app/containers/id/page.tsx
  Explorer/src/app/containers/page.tsx
  Explorer/src/app/deployments/page.tsx
  Explorer/src/app/nodes/page.tsx
  Explorer/src/app/pods/page.tsx
  Explorer/src/app/services/page.tsx
  Explorer/src/app/settings/page.tsx
  Explorer/src/app/volumes/page.tsx
  Explorer/src/components/sidebar.tsx
  Explorer/src/context/sidebar_context.tsx
Due: eslint

feat(Explorer): work on sidebar
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/app/dashboard/page.tsx
  Explorer/src/app/nodes/page.tsx
  Explorer/src/components/sidebar.tsx
  Explorer/src/context/sidebar_context.tsx
Due: eslint

feat(Explorer): work on side bar
  Explorer/postcss.config.js
  Explorer/src/app/dashboard/page.tsx
  Explorer/src/components/sidebar.tsx
  Explorer/src/context/sidebar_context.tsx
  Explorer/tailwind.config.js
Due: eslint

feat(Explorer): further work on sidebar
  Explorer/src/app/layout.tsx
  Explorer/src/components/header.tsx
Due: eslint

fix(): repaired containers page
  Explorer/src/app/containers/page.tsx
Due: eslint

fix(): fixed folder id name
  Explorer/src/app/containers/[id]/page.tsx
Due: eslint

feat: add support for containers
  DB/kubernetes-schema.sql
  Proxy/internal/cluster/container_process.go
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

add ports implementation to containers
  Proxy/internal/cluster/container_process.go
Due: golangci-lint

refactor: make code easier to understand
  Proxy/internal/cluster/container_process.go
  Proxy/internal/database/setup/setup.go
Due: golangci-lint

refactor: move config.yaml to Proxy/cmd/proxy/config.yaml
  Proxy/cmd/proxy/config.yaml
  docker-compose.yaml
Due: none

fix: update docker-compose.dbtestdata.yaml I don't know if docker-compose.dbtestdata.yaml is still used
  DB/testdata_init.sql
Due: none

feat(Explorer): added changes recommended by stefan. current location in nav is not visible
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/app/cluster/page.tsx
  Explorer/src/app/dashboard/page.tsx
  Explorer/src/app/deployments/page.tsx
  Explorer/src/app/nodes/page.tsx
  Explorer/src/app/pods/page.tsx
  Explorer/src/app/services/page.tsx
  Explorer/src/app/settings/page.tsx
  Explorer/src/app/volumes/page.tsx
  Explorer/src/components/health_indicators.tsx
  Explorer/src/components/sidebar.tsx
  Explorer/src/context/sidebar_context.tsx
Due: eslint

Update page.tsx
  Explorer/src/app/examples/health_indicators_example/page.tsx
Due: eslint

fix(): reversed remove of use client
  Explorer/src/app/examples/health_indicators_example/page.tsx
Due: eslint

PO regular deliverables sprint 08
  Deliverables/sprint-08/feature-board.jpg
  Deliverables/sprint-08/imp-squared-backlog.jpg
  Deliverables/sprint-08/planning-documents.pdf
Due: none

fix(): reversed remove of use client 2
  Explorer/src/app/examples/health_indicators_example/page.tsx
  Explorer/src/components/health_indicators.tsx
Due: eslint

fix(explorer): align explorer with DB schema
  Explorer/src/app/containers/[id]/page.tsx
  Explorer/src/components/containerTable.tsx
  Explorer/src/lib/db.ts
Due: eslint

fix: change table names to lowercase for Proxy and schema
  DB/kubernetes-schema.sql
  Proxy/internal/database/model/model.go
Due: golangci-lint
