Repository amosproj/amos2023ss04-kubernetes-inventory-taker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd Explorer && npm run precommit-lint "$@"'

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'echo "$@"; RESULT=0;cd Proxy && for i in "$@"; do echo "$i" | cut -d'/' -f2- | xargs golangci-lint run --fix; ((RESULT|=$?)); done && exit $RESULT'

fix: use Bun default table names https://bun.uptrace.dev/guide/models.html#table-names https://bun.uptrace.dev/guide/models.html#sql-naming-convention
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/node_process.go
  Proxy/internal/cluster/pod_process.go
  Proxy/internal/cluster/service_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

fix(Dockerfile): install dev dependencies in Dockerfile
  Explorer/Dockerfile
  Explorer/package-lock.json
  Explorer/package.json
  docker-compose.yaml
Due: none

fix(dependencies): stay on Node LTS version
  Explorer/package-lock.json
  Explorer/package.json
Due: none

fix: adapt amos2023ss04-kubernetes-inventory-taker/Explorer/src/lib/db.ts for changed table name
  Explorer/src/lib/db.ts
Due: eslint

fix: update testdata_init.sql
  DB/testdata_init.sql
Due: none

fix(Sidebar): fixed incorrectly working links
  Explorer/src/components/sidebar.tsx
Due: eslint

feat(Explorer): add health component and sort to list
  Explorer/src/components/containerTable.tsx
  Explorer/src/lib/db.ts
  package-lock.json
  package.json
Due: eslint

fix(Explorer): change a tag to link signed-off-by:muhdfahadali muhdfahadali@gmail.com
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/components/containerTable.tsx
Due: eslint

feat(schema): implement new db schema definition for containers
  DB/kubernetes-schema.sql
Due: none

feat(proxy): add support for container_state table
  Proxy/go.mod
  Proxy/go.sum
  Proxy/internal/cluster/container_process.go
  Proxy/internal/database/model/model.go
  Proxy/internal/database/setup/setup.go
Due: golangci-lint

feat(proxy): added volumes and ports as external tables
  Proxy/internal/cluster/container_process.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

chore(proxy): comments and naming scope changes
  Proxy/cmd/proxy/main.go
  Proxy/internal/cluster/container_process.go
  Proxy/internal/database/model/model.go
  Proxy/internal/database/setup/setup.go
Due: golangci-lint

fix(eslint): enable some eslint checks in jest
  Explorer/.eslintrc.json
  Explorer/package-lock.json
  Explorer/package.json
  Explorer/src/app/page.test.js
Due: eslint

test(Sidebar): added sidebar navigation e2e tests
  Explorer/cypress/e2e/sidebar_test.cy.js
Due: eslint

fix(sql): update testdata to reflect changes in backend
  DB/testdata_init.sql
Due: none

fix: use port 3000 for cypress Port 3000, as the default for the Explorer, should be used The use of baseUrl simplifies future modifications to the Explorer URL
  Explorer/cypress.config.ts
  Explorer/cypress/e2e/cypress_test.cy.js
Due: eslint

feat: search bar
  Explorer/src/components/containerTable.tsx
Due: eslint

fix: visit dashboard for container test the sidebar is the same and there is no conflict with other hrefs refactor: use Cypress baseUrl
  Explorer/cypress/e2e/sidebar_test.cy.js
Due: eslint

PO regular deliverables sprint 09
  Deliverables/sprint-09/feature-board.jpg
  Deliverables/sprint-09/imp-squared-backlog.jpg
  Deliverables/sprint-09/planning-documents.pdf
Due: none

feat(Explorer): add cypress test case for sort
  Explorer/cypress/e2e/containerlist_test.cy.js
  Explorer/cypress/e2e/cypress_test.cy.js
  Explorer/cypress/e2e/listsort_test.cy.js
Due: eslint

fix(testdata): change insert order to fulfill references
  DB/testdata_init.sql
Due: none

don't merge, this reproduces bug #160
  Explorer/src/app/page.test.js
Due: eslint

fix: adds jest-tests to ci
  .github/workflows/ci.yaml
Due: none

disable jest watch mode
  Explorer/package.json
Due: none

Revert "don't merge, this reproduces bug #160"
  Explorer/src/app/page.test.js
Due: eslint

Updated issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

fix: pre-commit
  .github/ISSUE_TEMPLATE/task.md
Due: none

try to get k3d kubeconfig
  .github/workflows/ci.yaml
Due: none

start kit in github ci
  .github/workflows/ci.yaml
Due: none

check if kit is running correctly
  .github/workflows/ci.yaml
Due: none

actually run the cypress tests
  .github/workflows/ci.yaml
Due: none

increase cypress command timeout because previous test timed out
  .github/workflows/ci.yaml
Due: none

add jest tests to ci
  .github/workflows/ci.yaml
Due: none

fix: job identifier
  .github/workflows/ci.yaml
Due: none

add cypress tests to ci.yaml
  .github/workflows/ci.yaml
Due: none

fix: setup-go@v4 for golangci-lint-mod
  .github/workflows/ci.yaml
Due: none

fix: disable setup-go cache the cache causes a lot of error messages when running golangci-lint
  .github/workflows/ci.yaml
Due: none

fix: add component testing to cypress
  .github/workflows/ci.yaml
Due: none

Path conditions:
  eslint: any of: Explorer/.*\.(js|jsx|ts|tsx)$
  golangci-lint: any of: \.go$
