Repository amosproj/amos2023ss04-kubernetes-inventory-taker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^DB/testdata_init\.sql$
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-build-mod
      - id: go-test-mod
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        files: "^Explorer/"
        entry: bash -c 'cd Explorer && npm run precommit-lint "$0" "$@"'
        # Pass 1. argument explicitly
        # $@ only captures arg 2-n
        types_or: [javascript, jsx, ts, tsx, json]
      - id: golangci-lint
        name: golangci-lint
        language: system
        types: [file, go]
        pass_filenames: false
        entry: bash -c 'cd Proxy && golangci-lint run --fix'

fix(container_details): remove leftover div
  Explorer/src/app/containers/[id]/page.tsx
Due: eslint

fix: use pod_id as unique key for pod details
  Explorer/src/components/podsTable.tsx
  Explorer/src/lib/db.ts
Due: eslint

fix(cypress): choose random pod-details-page link for test
  Explorer/cypress/e2e/poddetails_test.cy.js
Due: eslint

refactor(containerTable): split state and props
  Explorer/src/components/containerTable.tsx
Due: eslint

feat(Explorer): add child containers table on pod detail page
  Explorer/src/app/pods/[id]/page.tsx
  Explorer/src/components/pod_detail_page.tsx
  Explorer/src/lib/db.ts
Due: eslint

fix(Explorer): fix cypress test case for pod detail page
  Explorer/cypress/e2e/poddetails_test.cy.js
  Explorer/src/components/pod_detail_page.tsx
Due: eslint

fix: bump flowbite-react version to 0.4.11 to fix dropdown menu bug
  Explorer/package-lock.json
  Explorer/package.json
Due: eslint

fix: cypress test listsort_test.cy.js
  Explorer/cypress/e2e/listsort_test.cy.js
Due: eslint

fix(podsTable): separate state and props
  Explorer/src/components/podsTable.tsx
Due: eslint

feat: adjusted podstable
  Explorer/src/components/podsTable.tsx
Due: eslint

Add files via upload
  Deliverables/sprint-13/design-documentation.pdf
  Deliverables/sprint-13/user-documentation.pdf
Due: none

PO regular deliverables sprint 12
  Deliverables/sprint-12/feature-board.jpg
  Deliverables/sprint-12/imp-squared-backlog.jpg
  Deliverables/sprint-12/planning-documents.pdf
Due: none

Updated demo day slides
  Deliverables/sprint-12/amos_ss23.pptx
  Deliverables/sprint-12/demo-day-slides.pdf
Due: none

docs(build): document how to set up prod and non prod builds and deploys
  Deliverables/sprint-13/build-documentation.pdf
Due: none

fix: show names instead of db IDs
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/components/pod_detail_page.tsx
Due: eslint

Added client requirements
  Deliverables/sprint-13/client-requirements.pdf
Due: none

final po delivs
  Deliverables/sprint-13/feature-board.jpg
  Deliverables/sprint-13/planning-documents.pdf
Due: none

Impediments backlog
  Deliverables/sprint-13/imp-squared-backlog.jpg
Due: none

docs(deliverables): add design documentation
  Deliverables/sprint-13/design-documentation.pdf
Due: none

fix(darkmode): make headings work in darkmode
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/components/pod_detail_page.tsx
  Explorer/src/components/style_elements.tsx
Due: eslint

feat(container): show container state
  DB/kubernetes-schema.sql
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/lib/db.ts
Due: eslint

fix(model): change model to timestamp as well
  Proxy/internal/database/model/model.go
Due: golangci-lint

fix(tests): update jest test
  Explorer/src/app/containers/[id]/page.test.js
Due: eslint

fix(Explorer): remove console.log
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/lib/db.ts
Due: eslint

Add files via upload
  Deliverables/sprint-13/user-documentation.pdf
Due: none

sprint 14 delivs
  Deliverables/sprint-14/project-retrospective.pdf
  Deliverables/sprint-14/project-summary.pdf
Due: none
