Repository amosproj/amos2023ss04-kubernetes-inventory-taker: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd Explorer && npm run precommit-lint "$@"'

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'echo "$@"; RESULT=0;cd Proxy && for i in "$@"; do echo "$i" | cut -d'/' -f2- | xargs golangci-lint run --fix; ((RESULT|=$?)); done && exit $RESULT'

make cypress e2e screenshots available if test fails
  .github/workflows/ci.yaml
Due: none

trying to fix cypress e2e error by enabling headed mode
  .github/workflows/ci.yaml
Due: none

upload video artifacts
  .github/workflows/ci.yaml
Due: none

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

trying to fix cypress e2e error by using chrome as browser
  .github/workflows/ci.yaml
Due: none

change browser to chrome and skip installation for Component Testing https://github.com/cypress-io/github-action#component-and-e2e-testing
  .github/workflows/ci.yaml
Due: none

refactor(containers): refactor containers page to only use data from DB
  Explorer/.eslintrc.json
  Explorer/src/app/containers/[id]/page.test.js
  Explorer/src/app/containers/[id]/page.tsx
  Explorer/src/app/examples/container_detail_example/page.tsx
  Explorer/src/components/containerTable.tsx
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/components/health_indicators.tsx
  Explorer/src/lib/db.ts
  Explorer/src/lib/types/Container.ts
  Explorer/src/lib/types/ContainerDetails.ts
  Explorer/src/lib/types/ContainerList.ts
  Explorer/src/lib/types/Status.ts
Due: eslint

fix(formatting): use emojis for boolean values
  Explorer/cypress/.gitignore
  Explorer/src/components/container_detail_page.tsx
Due: eslint

fix(formatting): serialize booleans to string
  Explorer/src/components/container_detail_page.tsx
  Explorer/src/lib/types/Container.ts
Due: eslint

feat: added another container for better testing situations
  Explorer/src/app/page.test.js
Due: eslint

feat: added test for search bar
  Explorer/src/app/page.test.js
Due: eslint

fix(Explorer): container sorting functionality
  Explorer/src/components/containerTable.tsx
Due: eslint

fix(Explorer): container sorting functionality
  Explorer/package-lock.json
  Explorer/package.json
Due: none

fix(Explorer): fixes container sorting functionality
  Explorer/src/components/containerTable.tsx
Due: eslint

fix: eslint failure
  Explorer/src/app/page.test.js
Due: eslint

fix(pre-commit): also pass argument 0 to the lint
  .pre-commit-config.yaml
Due: none

fix(eslint): autofixed files
  Explorer/.eslintrc.json
  Explorer/jest.config.mjs
Due: none

chore: remove unused package.json and package-lock.json
  package-lock.json
  package.json
Due: none

chore: bump cypress version to 12.16
  Explorer/package-lock.json
  Explorer/package.json
Due: none

allow continue-on-error for cypress e2e and clean golangci-lint-mod job
  .github/workflows/ci.yaml
Due: none

always run jest test, even when pre-commit fails
  .github/workflows/ci.yaml
Due: none

fix: artifact upload for Cypress E2E Testing
  .github/workflows/ci.yaml
Due: none

PO regular deliverables sprint 10
  Deliverables/sprint-10/feature-board.jpg
  Deliverables/sprint-10/imp-squared-backlog.jpg
  Deliverables/sprint-10/planning-documents.pdf
Due: none

add automatic retry to Cypress run e2e testing
  .github/workflows/ci.yaml
Due: none

fix: expressions https://docs.github.com/en/actions/learn-github-actions/expressions
  .github/workflows/ci.yaml
Due: none

fix: artifacts upload
  .github/workflows/ci.yaml
Due: none

fix: cypress tests and make dropdown more consistent with the example provided in the flowbite docs https://www.flowbite-react.com/docs/components/dropdown
  Explorer/cypress/e2e/listsort_test.cy.js
  Explorer/src/components/containerTable.tsx
Due: eslint

chore: Updated the versions of various dependencies flowbite-react changes might be relevant: https://github.com/themesberg/flowbite-react/releases/tag/v0.4.8
  Explorer/package-lock.json
  Explorer/package.json
Due: none

chore: added local proxy binary to gitignore
  .gitignore
Due: none

feat: added databse tables for persistent volumes and claims
  DB/kubernetes-schema.sql
Due: none

feat(Proxy): added PV and PVC bun structs
  Proxy/internal/database/model/model.go
Due: golangci-lint

refactor: reduce code duplication in cluster config
  Proxy/internal/cluster/config.go
Due: golangci-lint

feat: added persistent volume processing
  Proxy/internal/cluster/config.go
  Proxy/internal/cluster/pv_process.go
Due: golangci-lint

feat: added persistent volume claim processing
  Proxy/internal/cluster/config.go
  Proxy/internal/cluster/pv_process.go
  Proxy/internal/cluster/pvc_process.go
  Proxy/internal/cluster/util.go
Due: golangci-lint

refactor: move config to config package
  Proxy/cmd/proxy/main.go
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/config.go
  Proxy/internal/config/config.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

feat: added persistent volume claim condition to pvc process
  Proxy/internal/cluster/pvc_process.go
Due: golangci-lint

chore: add code documentation and comments
  Proxy/internal/cluster/cluster.go
  Proxy/internal/cluster/pv_process.go
  Proxy/internal/cluster/pvc_process.go
  Proxy/internal/cluster/util.go
  Proxy/internal/config/config.go
  Proxy/internal/database/model/model.go
Due: golangci-lint

fix/#160-run-all-tests-in-ci (#182)
  .github/workflows/ci.yaml
Due: none

fix(Explorer): fixes container sorting test cases
  Explorer/cypress/e2e/listsort_test.cy.js
Due: eslint

fix(Explorer): fixes container sorting test cases url
  Explorer/cypress/e2e/listsort_test.cy.js
Due: eslint

Path conditions:
  eslint: any of: Explorer/.*\.(js|jsx|ts|tsx)$
  golangci-lint: any of: \.go$
